{% extends 'WebhinesSymbinBundle::base.html.twig' %}
{% block title %} Edit a snippit {% endblock %}
{% block content %}

<h1>Snippit edit</h1>

<form action="{{ path('_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    <div id="document_form">
        {{ form_widget(edit_form) }}
    </div>
    <p>
        <button type="submit">Edit</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('view', { 'slug': entity.slug} ) }}">
            View
        </a>
    </li>
</ul>
